<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../../public/style.css">
  </head>
  <body>
    <div class="container">
        <h1>{{{title}}}</h1>
        <div class="content">
            {{{body}}}
        </div>
        <footer>Author: Yuqi Wang</footer>
    </div>
  </body>
</html>