<section>
    <ul class="full-list" id="listall">
        {{#each allData}}
            <li class="li-item">
                <a href="/{{this.id}}">
                    {{this.name}}
                </a>
            </li>
        {{/each}}
    </ul>
    {{#if token}} 
        <a href="/">Go Back!</a> 
    {{/if}}
</section>