
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <title>
        Yuqi's Movie Center
    </title>

    <body>
        <div class="modal fade" id="movie1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="modal-title" id="exampleModalLabel">Movie1</div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Some quick example text to build on the card title and make up the bulk of the card's content.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
        <div class="modal fade" id="movie2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">Movie2</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
        <div class="modal fade" id="movie3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">Movie3</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
        <div class="modal fade" id="movie4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">Movie4</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
        <div class="modal fade" id="movie5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">Movie5</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
        <div class="modal fade" id="movie6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">Movie6</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
        <div class="modal fade" id="movie7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">Movie7</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
        <div class="modal fade" id="movie8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">Movie8</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
        <div class="modal fade" id="movie9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">Movie9</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
        <div class="modal fade" id="movie10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">Movie10</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
        <div class="container">
            <div class="row titleTop">
                <h1 class="titleTop m-3">Yuqi's Movie Center</h1>
            </div>
            
            <div class="row">
                <div class="col-12 col-md-2 navcol">
                    <nav class="navbar" id="nav-list">
                        <ul class="navbar-nav">
                          <li class="nav-item">
                            <a class="nav-link" href="#movie-item1">Movie 1</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#movie-item2">Movie 2</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#movie-item3">Movie 3</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#movie-item4">Movie 4</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#movie-item5">Movie 5</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#movie-item6">Movie 6</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#movie-item7">Movie 7</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#movie-item8">Movie 8</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#movie-item9">Movie 9</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#movie-item10">Movie 10</a>
                          </li>
                        </ul>
                      </nav>
                </div>
                <div class="col-12 col-md-10">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-3" data-spy="scroll" data-target="#nav-list">
                            <div class="card" id="movie-item1">
                                <img class="card-img-top" src="https://picsum.photos/seed/picsum/200/300" alt="Card img">
                                <div class="card-body">
                                    <div class="movie-title">Movie 1</div>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <div class="aLinkDiv">
                                        <a href="#movie1" role= "button" class="btn btn-primary" data-toggle="modal">Details..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="card" id="movie-item2">
                                <img class="card-img-top" src="https://picsum.photos/seed/picsum/200/300" alt="Card img">
                                <div class="card-body">
                                    <div class="movie-title">Movie 2</div>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <div class="aLinkDiv">
                                        <a href="#movie2" role= "button" class="btn btn-primary" data-toggle="modal">Details..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="card" id="movie-item3">
                                <img class="card-img-top" src="https://picsum.photos/seed/picsum/200/300" alt="Card img">
                                <div class="card-body">
                                    <div class="movie-title">Movie 3</div>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <div class="aLinkDiv">
                                        <a href="#movie3" role= "button" class="btn btn-primary" data-toggle="modal">Details..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="card" id="movie-item4">
                                <img class="card-img-top" src="https://picsum.photos/seed/picsum/200/300" alt="Card img">
                                <div class="card-body">
                                    <div class="movie-title">Movie 4</div>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <div class="aLinkDiv">
                                        <a href="#movie4" role= "button" class="btn btn-primary" data-toggle="modal">Details..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="card" id="movie-item5">
                                <img class="card-img-top" src="https://picsum.photos/seed/picsum/200/300" alt="Card img">
                                <div class="card-body">
                                    <div class="movie-title">Movie 5</div>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <div class="aLinkDiv">
                                        <a href="#movie5" role= "button" class="btn btn-primary" data-toggle="modal">Details..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="card" id="movie-item6">
                                <img class="card-img-top" src="https://picsum.photos/seed/picsum/200/300" alt="Card img">
                                <div class="card-body">
                                    <div class="movie-title">Movie 6</div>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <div class="aLinkDiv">
                                        <a href="#movie6" role= "button" class="btn btn-primary" data-toggle="modal">Details..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="card" id="movie-item7">
                                <img class="card-img-top" src="https://picsum.photos/seed/picsum/200/300" alt="Card img">
                                <div class="card-body">
                                    <div class="movie-title">Movie 7</div>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <div class="aLinkDiv">
                                        <a href="#movie7" role= "button" class="btn btn-primary" data-toggle="modal">Details..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="card" id="movie-item8">
                                <img class="card-img-top" src="https://picsum.photos/seed/picsum/200/300" alt="Card img">
                                <div class="card-body">
                                    <div class="movie-title">Movie 8</div>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <div class="aLinkDiv">
                                        <a href="#movie8" role= "button" class="btn btn-primary" data-toggle="modal">Details..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="card" id="movie-item9">
                                <img class="card-img-top" src="https://picsum.photos/seed/picsum/200/300" alt="Card img">
                                <div class="card-body">
                                    <div class="movie-title">Movie 9</div>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <div class="aLinkDiv">
                                        <a href="#movie9" role= "button" class="btn btn-primary" data-toggle="modal">Details..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="card" id="movie-item10">
                                <img class="card-img-top" src="https://picsum.photos/seed/picsum/200/300" alt="Card img">
                                <div class="card-body">
                                    <div class="movie-title">Movie 10</div>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <div class="aLinkDiv">
                                        <a href="#movie10" role= "button" class="btn btn-primary" data-toggle="modal">Details..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>